.header1 {
border-radius: 25px yellow;
color: yellow;
background-color: red;
}


canvas
{
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    margin-top: 150px;
}